<?xml version="1.0" ?>
<config>
    <database>
        <server>localhost</server>
        <user>root</user>
        <password>root</password>
        <db>postee-db</db>
    </database>
    <extensions>
        <version>
            <path>version/version</path>
            <active>true</active>
        </version>
        <admin>
            <path>admin/admin</path>
            <active>true</active>
        </admin>
    </extensions>
</config>